body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Courier New', monospace;    
    text-align: center;
}

#main {
    display: inline-block;
    padding: 40px;
    border-radius: 10px;
    margin-top: 75px;
    background-color: rgb(30, 30, 30);
}

h3 {
    display: inline;
}

span {
    font-size: 1.7rem;
}